{% extends 'base.html.twig' %}
{% block title "Toutes les recettes" %} 
{% block body %}
<p>je teste body </p>
<ul>
    <li>
        <a href="{{url('recipe.show',{id: 32,slug: 'pate-bolognaise'})}}">Pates bolognaise</a>
    </li>
</ul>
{% endblock %}